#
# MANIFEST.in
#
# Manifest template for creating the PyLudic source distribution.

include MANIFEST.in
include setup.py
include COPYING
include README.md
include qdarkstyle/style.qss
include qdarkstyle/style.qrc
include qdarkstyle/rc/*.png



