// ---------------------------------------------------------------------------
//
//    File created programmatically
//
//    WARNING! All changes made in this file will be lost!
//
//----------------------------------------------------------------------------
$COLOR_BACKGROUND_DARK: #19232D;
$COLOR_BACKGROUND_LIGHT: #505F69;
$COLOR_BACKGROUND_NORMAL: #32414B;
$COLOR_FOREGROUND_DARK: #787878;
$COLOR_FOREGROUND_LIGHT: #F0F0F0;
$COLOR_SELECTION_DARK: #14506E;
$COLOR_SELECTION_LIGHT: #148CD2;
$COLOR_SELECTION_NORMAL: #1464A0;
$OPACITY_TOOLTIP: 230;
$SIZE_BORDER_RADIUS: 4px;
